@import '/src/scss/mixins.module.scss';

.InteractiveRobotDisplay {
  width: 100px;
  height: 85px;
  top: 16px;
  position: absolute;
  opacity: 1;
  z-index: 0;
  
  .RobotImage {
    width: 100px;
    height: 85px;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  ellipse.RobotEye {
    ry:10;
    rx:10;
  }

  .RobotLeftEye,
  .RobotRightEye {
    position: absolute;
    top: 48px;
    width: 12px;
    height: 12px;
    @include robot-blink(3s, 0.1s);
  }
  .RobotLeftEye {
    left: 30px;
  }
  .RobotRightEye {
    left: 60px;
  }
  
  .RobotPoof {
    width: 90px;
    height: 90px;
    position: absolute;
    // top: -90px;
    top: -90px;
    z-index: 3;
    opacity: 0;   
  }
  
  .RobotCover {
    position: relative; 
    width: 100px;
    height: 85px;
    background-color: white;
    z-index: 4;
  }
}

.InteractiveRobotDisplay[class*="robot--on"] {
  .RobotImage {
    @include robot-appear(2s, 0.2s);
  }
}

.InteractiveRobotDisplay[class*="robot--fullOn"] {
  .RobotImage {
    top: -90px;
  }
  &[class*="robot--halfOn"] {
    .RobotImage {
      @include robot-lurk(1s, 0.1s);
      ellipse.RobotEye {
        ry:5;
        rx:10;
      } 
    }
  }
}

.InteractiveRobotDisplay[class*="robot--off"] {
  .RobotPoof {
    transition: opacity 0.001s 0s ease-out;
    @include robot-poof(1s, 0.001s);
  }
  .RobotImage {
    @include robot-disappear(0.01s, 0s);
  }
}
