.DictionaryTrigger {
  position: absolute;
  bottom: -45px;
  left: -20px;
}

.GameSettingsDisplayTrigger {
  position: absolute;
  top: 10px;
  right: 40px; 
}

/** @deprecated */
.StartGameDisplay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  padding: 16px 24px;
}

.WordleVersusContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  position: relative;
}

.RobotDisplay {
  position: absolute;
  top: 80px;
}

