@import 'src/scss/mixins.module.scss';

.PuzzleHeader {
  min-height: 48px;
  max-height: 48px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-bottom: thin solid rgb(200 191 191 / 30%);
  box-shadow: 0px 2px 6px -6px #000000ad;
  position: sticky;

  span.CellLetter {
    @include cellLetterSpan(30px, 30px, 2px, 700);
    font-size: larger;
  }

  @media only screen and (max-width: 425px) {
    span {
      font-weight: 500;
      font-size: x-large;
      -webkit-font-smoothing: auto;
      text-transform: uppercase;
    }
  }

  span.GreenText {
    color: var(--mdc-theme-puzzle-exact-match, #5fc405);
  }
  span.OrangeText {
    color: var(--mdc-theme-puzzle-exists, #ffb003);
  }

  span.Match {
    background-color: var(--mdc-theme-puzzle-exists, #ffb003);
    outline-color: var(--mdc-theme-puzzle-exists, #ffb003);
  }
  span.ExactMatch {
    background-color: var(--mdc-theme-puzzle-exact-match, #5fc405);
    outline-color: var(--mdc-theme-puzzle-exact-match, #5fc405);
  }

  .CellLetter.Match {
    border: thin solid var(--mdc-theme-puzzle-exists, #ffb003);
  }
  .CellLetter.ExactMatch {
    border: thin solid var(--mdc-theme-puzzle-exact-match, #5fc405);
  }
}

.Items {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 8px;
  flex-wrap: nowrap;

  &.Left {
    justify-content: flex-start;
  }
  &.Middle {
    justify-content: center;
  }
  &.Right {
    justify-content: flex-end;
    gap: 16px;
  }
}

.Item {
  @include headerIconItem();
}
