.RelativePosition {
  position: relative;
}

.InfoPosition {
  position: absolute;
  top: 0;
  right: -21px;
  line-height: 0;
  z-index: 900;
}

.SelectStartingWordOverlay {
  display: flex;
  gap: 8px;
  min-width: 242px;
  [class*='WordleSelector'] {
    margin-bottom: 0;
    resize: none;
    flex: 1;
  }
}

.EditFirstWordPopup {
  position: absolute;
  top: 0;
  right: -21px;
  line-height: 0;
  z-index: 1001;
}

.SolverDisplayWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.WordSelectorWrapper {
  font-size: 22px;
  position: relative;
  flex: 1;
  display: flex;
  max-width: 270px;
  width: 100%;

  input {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
}

.GuessRows {
  &DisplayWrapper {
    position: relative;
    display: flex;
    flex: 1;
    gap: 8px;
    flex-direction: column;
    font-size: 22px;
  }
  &Display {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: inherit;
    background-color: transparent;
    color: var(--mdc-theme-puzzle-primary, #091309);
  }
}

