.SolverDisplayWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SolverDisplay {
  max-width: 270px;
  position: relative;
  
  .GuessRows {
    &DisplayWrapper {
      position: relative;
      display: flex;
      flex: 1;
      gap: 8px;
      flex-direction: column;
      font-size: 22px;
    }
    &Display {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      font-family: inherit;
      background-color: transparent;
      color: var(--mdc-theme-puzzle-primary, #091309);
    }
  }
  
  .RobotDisplay {
    position: relative;
    top: 255px;
    z-index: 1;
  }
}



