@import '../../../../scss/mixins.module.scss';

.cellCls {
  text-decoration: none;
}

.ComponentWrapper {
  position: relative;

  .GuessRowContainer {
    display: flex;
    gap: 5px;
    z-index: 2;

    @include createTransitionDelays(1, 5, 50);
  }

  &.InvalidWord {
    .GuessRowContainer {
      @include shake-animation(0.4s, 3);
    }
  }
}
