.RelativePosition {
  position: relative;
}

.InfoPosition {
  position: absolute;
  top: 0;
  right: -21px;
  line-height: 0;
  z-index: 900;
}

.SelectStartingWordOverlay {
  display: flex;
  gap: 8px;
  min-width: 242px;
  [class*="WordleSelector"] {
    margin-bottom: 0;
    resize: none;
    flex: 1;
  }
}

.StatsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  max-width: 270px;

  input {
    width: 25px;
    height: 25px;
  }
  label {
    // padding-left: 8px;
    outline: none;
    width: 120px;
    font-size: 16px;
    font-weight: 300;
    vertical-align: top;
  }
}

.Spacer {
  flex: 1;
  max-width: 90px;
}

.Totals {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 25px;
    height: 25px;
  }
  label {
    // padding-left: 8px;
    // width: 120px;
    font-size: 16px;
    font-weight: 300;
    vertical-align: top;
  }
}
.TotalLetterLabel {
  font-size: 24px;
  font-weight: 500;
}
.TotalCountLabel {
  font-size: 24px;
  font-weight: 600;
}

.letterLabel {
  font-weight: 500;
}
.countLabel {
  font-weight: 600;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.StatsLetterContainer {
  max-width: 300px;
  flex: 1;
  display: flex;
  gap: 8px;
  flex-direction: row;
  font-size: 22px;
  input,
  textarea {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    outline-color: var(--mdc-theme-puzzle-miss, #c2b9b9);
  }
  &.Match {
    background-color: var(--mdc-theme-puzzle-exists, #ffb003);
    border: thin solid var(--mdc-theme-puzzle-exists, #ffb003);
    outline-color: var(--mdc-theme-puzzle-exists, #ffb003);
    // color: white;
  }
  &.ExactMatch {
    background-color: var(--mdc-theme-puzzle-exact-match, #5fc405);
    border: thin solid var(--mdc-theme-puzzle-exact-match, #5fc405);
    outline-color: var(--mdc-theme-puzzle-exact-match, #5fc405);
    // color: white;
  }
  &.Miss {
    background-color: var(--mdc-theme-puzzle-miss, #c2b9b9);
    border: thin solid var(--mdc-theme-puzzle-miss, #c2b9b9);
    outline-color: var(--mdc-theme-puzzle-miss, #c2b9b9);
    // color: white;
  }
}

.MatchSpotCheckbox {
  padding-top: 24px;
}

// span.CellLetter {
//   border: thin solid var(--mdc-theme-puzzle-miss, #c2b9b9);
//   margin: 3px;
//   width: 25px;
//   height: 25px;
//   display: inline-block;
//   text-align: center;
//   font-weight: 600;
// }

span.MissLetter {
  border: thin solid var(--mdc-theme-puzzle-miss, #c2b9b9);
  margin: 1px;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  font-size: small;
  color: var(--mdc-theme-puzzle-primary, #091309);
}

.WordCountBadge {
  position: relative;
  left: -15px;
  top: -20px;
}

.LetterCount {
  display: inline-block;
}

.TotalCountStats {
  line-height: 45px;
}

label.LetterButton {
  outline: none;
  font-weight: 700;
  width: 90px;
}

button.EnterButton,
button.DeleteButton {
  line-height: 0;
  width: 90px;
  padding: 0;
}

.StatsContainer {
  background: none;
  // label.LetterButton {
  //   width: 40px;
  //   font-weight: 700;
  //   &:active,
  //   &:hover,
  //   &:focus,
  //   &:focus-visible {
  //     outline: none;
  //     box-shadow: none;
  //   }
  // }
  // /* Workaround for toggle style for letter buttons not in a word */
  // .LetterButton[class*="btn-outline-secondary"] {
  //   &:active,
  //   &:hover,
  //   &:focus {
  //     color: #6c757d;
  //     background-color: transparent;
  //   }
  // }

  // button.EnterButton,
  // button.DeleteButton {
  //   width: 40px;
  //   &:active,
  //   &:hover,
  //   &:focus,
  //   &:focus-visible {
  //     background-color: inherit;
  //     color: var(--bs-btn-color);
  //   }
  // }
}

.EditFirstWordPopup {
  position: absolute;
  top: 0;
  right: -21px;
  line-height: 0;
  z-index: 1001;
}

.PlaceholderMessage {
  svg {
    vertical-align: text-bottom;
  }
}

.WordleVersusContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.GuessRowsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  background-color: transparent;
  color: var(--mdc-theme-puzzle-primary, #091309);
  position: relative;
}

// .ButtonOneRow {
//   display: flex;
//   justify-content: space-between;
// }

.ScoreDisplay {
  background-color: var(--mdc-theme-puzzle-background, #f2f1f1);
}

.ControlContainer {
  position: relative;
  max-width: 270px;
  flex: 1;
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-size: 22px;
  input,
  textarea {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    // text-transform: uppercase;
    &.Match {
      background-color: var(--mdc-theme-puzzle-exists, #ffb003);
      border: thin solid var(--mdc-theme-puzzle-exists, #ffb003);
      // color: white;
    }
    &.ExactMatch {
      background-color: var(--mdc-theme-puzzle-exact-match, #5fc405);
      border: thin solid var(--mdc-theme-puzzle-exact-match, #5fc405);
      // color: white;
    }
    &.Miss {
      background-color: var(--mdc-theme-puzzle-miss, #c2b9b9);
      border: thin solid var(--mdc-theme-puzzle-miss, #c2b9b9);
      // color: white;
    }
  }
}
