.SelectWordForRobotWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  hr {
    margin: 1rem 0 0;
    color: var(--mdc-theme-puzzle-miss, #c2b9b9);
  }
}

.SelectorsDisplay {
  display: flex;
  gap: 8px;
  min-width: 242px;
  [class*="WordleSelector"] {
    margin-bottom: 0;
    resize: none;
    flex: 1;
  }
  button.RandomButton {
    &:active,
    &:hover,
    &:focus
     {
      background-color: white;
      color: var(--bs-btn-color);
    }
  }
}

.SelectedWordDisplay {
  display: flex;
}

.ActionButtonsDisplay {
  margin-top: 8px;
  button { 
    width: 100%;
  }
}

span.CellLetter {
  border: thin solid var(--mdc-theme-puzzle-miss, #c2b9b9);
  margin: 2px;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  text-transform: uppercase;
  line-height: 45px;
}